/* line 3, ../sass/style.scss */
body {
  margin: 0;
}

/* line 7, ../sass/style.scss */
.interactive-map-section {
  display: flex;
  max-width: 1750px;
  margin: 2%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* map styles */
  /* colors */
}
@media all and (max-device-width: 640px) {
  /* line 7, ../sass/style.scss */
  .interactive-map-section {
    margin: 25px auto;
  }
}
/* line 17, ../sass/style.scss */
.interactive-map-section .hed-dek-wrapper {
  max-width: 31%;
  display: inline-block;
  vertical-align: top;
}
@media all and (min-width: 640px) and (max-device-width: 1229px) and (orientation: landscape) {
  /* line 17, ../sass/style.scss */
  .interactive-map-section .hed-dek-wrapper {
    display: block;
    margin: 0 auto;
  }
}
@media all and (min-width: 640px) and (max-width: 1024px) {
  /* line 17, ../sass/style.scss */
  .interactive-map-section .hed-dek-wrapper {
    max-width: 100%;
    margin: 0 auto;
    display: block;
  }
}
@media all and (max-device-width: 640px) {
  /* line 17, ../sass/style.scss */
  .interactive-map-section .hed-dek-wrapper {
    max-width: 100%;
    margin: 0;
  }
}
/* line 36, ../sass/style.scss */
.interactive-map-section .hed-dek-wrapper .headline {
  font-family: 'Lora', serif;
  font-weight: 700;
  font-size: 29px;
  line-height: 33px;
  margin-bottom: 7px;
}
@media all and (min-width: 640px) and (max-device-width: 1229px) and (orientation: landscape) {
  /* line 36, ../sass/style.scss */
  .interactive-map-section .hed-dek-wrapper .headline {
    max-width: 580px;
    margin: 0 auto 5px;
  }
}
@media all and (min-width: 640px) and (max-width: 1024px) {
  /* line 36, ../sass/style.scss */
  .interactive-map-section .hed-dek-wrapper .headline {
    max-width: 580px;
    margin: 0 auto 5px;
  }
}
@media all and (max-device-width: 640px) {
  /* line 36, ../sass/style.scss */
  .interactive-map-section .hed-dek-wrapper .headline {
    font-size: 28px;
    line-height: 35px;
    margin: 0 25px 8px;
  }
}
/* line 58, ../sass/style.scss */
.interactive-map-section .hed-dek-wrapper .dek {
  font-family: 'Lora', serif;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
}
@media all and (min-width: 640px) and (max-device-width: 1229px) and (orientation: landscape) {
  /* line 58, ../sass/style.scss */
  .interactive-map-section .hed-dek-wrapper .dek {
    max-width: 580px;
    margin: 0 auto;
  }
}
@media all and (min-width: 640px) and (max-width: 1024px) {
  /* line 58, ../sass/style.scss */
  .interactive-map-section .hed-dek-wrapper .dek {
    max-width: 580px;
    margin: 0 auto;
  }
}
@media all and (max-device-width: 640px) {
  /* line 58, ../sass/style.scss */
  .interactive-map-section .hed-dek-wrapper .dek {
    font-size: 18px;
    line-height: 25px;
    margin: 0 25px;
  }
}
/* line 80, ../sass/style.scss */
.interactive-map-section .nav-wrapper {
  display: block;
  margin: 25px auto 10px;
  /* button styles */
  /* scale styles */
}
@media all and (min-width: 640px) and (max-width: 1024px) {
  /* line 80, ../sass/style.scss */
  .interactive-map-section .nav-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    margin: 25px 0 35px;
    max-width: 100%;
  }
}
@media all and (max-device-width: 640px) {
  /* line 80, ../sass/style.scss */
  .interactive-map-section .nav-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    margin: 25px 0;
    max-width: 100%;
  }
}
/* line 102, ../sass/style.scss */
.interactive-map-section .nav-wrapper .btns-wrapper {
  display: inline-block;
  font-size: 12px;
}
@media all and (min-width: 640px) and (max-width: 1024px) {
  /* line 102, ../sass/style.scss */
  .interactive-map-section .nav-wrapper .btns-wrapper {
    margin-bottom: 15px;
  }
}
@media all and (max-device-width: 640px) {
  /* line 102, ../sass/style.scss */
  .interactive-map-section .nav-wrapper .btns-wrapper {
    margin: 0 25px 15px;
  }
}
@media all and (min-width: 640px) and (max-width: 1024px) {
  /* line 113, ../sass/style.scss */
  .interactive-map-section .nav-wrapper .btns-wrapper .btn-group {
    display: inline-block;
  }
}
@media all and (min-width: 640px) and (max-width: 1024px) {
  /* line 118, ../sass/style.scss */
  .interactive-map-section .nav-wrapper .btns-wrapper .btn-group.group2 {
    margin-left: 15px;
  }
}
/* line 125, ../sass/style.scss */
.interactive-map-section .nav-wrapper .btns-wrapper .btn {
  padding: 10px 15px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 10px;
  font-weight: normal;
  line-height: 13px;
  letter-spacing: .5px;
  text-transform: uppercase;
  color: #333;
  width: 45%;
  margin: 0 0 5px;
  height: 45px;
  vertical-align: top;
}
@media all and (min-width: 640px) and (max-width: 1024px) {
  /* line 125, ../sass/style.scss */
  .interactive-map-section .nav-wrapper .btns-wrapper .btn {
    width: auto;
    margin: 0;
  }
}
@media all and (max-device-width: 640px) {
  /* line 125, ../sass/style.scss */
  .interactive-map-section .nav-wrapper .btns-wrapper .btn {
    width: 100%;
    margin: 0 0 5px;
  }
}
/* line 151, ../sass/style.scss */
.interactive-map-section .nav-wrapper .btns-wrapper .btn:hover {
  cursor: pointer;
}
/* line 155, ../sass/style.scss */
.interactive-map-section .nav-wrapper .btns-wrapper .btn.active {
  background-color: #333;
  color: #fff;
}
/* line 160, ../sass/style.scss */
.interactive-map-section .nav-wrapper .btns-wrapper .btn-label {
  line-height: 20px;
  margin-bottom: 2px;
  padding-left: 1px;
  font-style: italic;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
}
/* line 170, ../sass/style.scss */
.interactive-map-section .nav-wrapper .btns-wrapper .demo-label {
  margin-top: 7px;
}
/* line 176, ../sass/style.scss */
.interactive-map-section .nav-wrapper .scale-wrapper {
  display: inline-block;
  line-height: normal;
  margin-top: 5px;
}
@media all and (min-width: 1025px) {
  /* line 176, ../sass/style.scss */
  .interactive-map-section .nav-wrapper .scale-wrapper {
    margin-top: 20px;
  }
}
@media (max-width: 380px) {
  /* line 176, ../sass/style.scss */
  .interactive-map-section .nav-wrapper .scale-wrapper {
    margin: 0 10px 0 25px;
    text-align: left;
  }
}
/* line 189, ../sass/style.scss */
.interactive-map-section .nav-wrapper .scale-wrapper .scale-step-wrapper {
  font-size: 0;
  width: 306px;
  display: inline-block;
  text-align: left;
}
@media (max-width: 380px) {
  /* line 189, ../sass/style.scss */
  .interactive-map-section .nav-wrapper .scale-wrapper .scale-step-wrapper {
    width: 216px;
  }
}
/* line 200, ../sass/style.scss */
.interactive-map-section .nav-wrapper .scale-wrapper .scale-step {
  display: inline-block;
  border: 2px solid #fff;
  width: 30px;
  height: 20px;
}
@media (max-width: 380px) {
  /* line 200, ../sass/style.scss */
  .interactive-map-section .nav-wrapper .scale-wrapper .scale-step {
    width: 20px;
  }
}
/* line 211, ../sass/style.scss */
.interactive-map-section .nav-wrapper .scale-wrapper .scale-label {
  margin-top: 5px;
  display: inline-block;
  font-size: 11px;
}
/* line 217, ../sass/style.scss */
.interactive-map-section .nav-wrapper .scale-wrapper .less-label {
  margin-left: 2px;
}
/* line 221, ../sass/style.scss */
.interactive-map-section .nav-wrapper .scale-wrapper .more-label {
  float: right;
  padding-right: 2px;
}
/* line 226, ../sass/style.scss */
.interactive-map-section .nav-wrapper .scale-wrapper .no-data-wrapper {
  display: inline-block;
  width: 50px;
  font-size: 0;
  margin-left: 15px;
}
/* line 233, ../sass/style.scss */
.interactive-map-section .nav-wrapper .scale-wrapper .no-data-box {
  background-color: #aaa;
}
/* line 237, ../sass/style.scss */
.interactive-map-section .nav-wrapper .scale-wrapper .no-data-label.scale-label {
  padding-left: 2px;
}
/* line 244, ../sass/style.scss */
.interactive-map-section .map {
  position: relative;
  height: 0;
  width: 69%;
  display: inline-block;
  padding: 0;
  padding-bottom: 50%;
  max-width: 1750px;
  margin: 0 auto;
}
@media all and (min-width: 640px) and (max-width: 1024px) {
  /* line 244, ../sass/style.scss */
  .interactive-map-section .map {
    width: 100%;
    padding-bottom: 70%;
  }
}
@media all and (max-device-width: 640px) {
  /* line 244, ../sass/style.scss */
  .interactive-map-section .map {
    width: 100%;
    padding-bottom: 70%;
  }
}
@media all and (min-width: 640px) and (max-device-width: 1229px) and (orientation: landscape) {
  /* line 244, ../sass/style.scss */
  .interactive-map-section .map {
    padding-bottom: 62%;
  }
}
/* line 266, ../sass/style.scss */
.interactive-map-section .map .svg-elem {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
/* line 275, ../sass/style.scss */
.interactive-map-section .country.active {
  fill: #FF9600;
}
/* line 279, ../sass/style.scss */
.interactive-map-section .country {
  transition: fill .3s ease;
  fill: #aaa;
}
/* line 284, ../sass/style.scss */
.interactive-map-section .country:hover {
  cursor: default;
}
/* line 288, ../sass/style.scss */
.interactive-map-section .countryBorders {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}
/* line 294, ../sass/style.scss */
.interactive-map-section .tooltip {
  position: absolute;
  text-align: center;
  width: auto;
  height: auto;
  padding: 10px 8px;
  font-size: 12px;
  line-height: normal;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #fff;
  border: 1px solid #ccc;
  pointer-events: none;
}
/* line 308, ../sass/style.scss */
.interactive-map-section .country-name {
  font-size: 11px;
  font-weight: bold;
  letter-spacing: .5px;
  text-transform: uppercase;
  border-bottom: 1px solid #ccc;
  margin-bottom: 6px;
  padding-bottom: 3px;
  display: block;
}
/* line 320, ../sass/style.scss */
.interactive-map-section .q0 {
  fill: #81d8e5;
  background-color: #81d8e5;
}
/* line 324, ../sass/style.scss */
.interactive-map-section .q1 {
  fill: #74c3ce;
  background-color: #74c3ce;
}
/* line 328, ../sass/style.scss */
.interactive-map-section .q2 {
  fill: #68aeb9;
  background-color: #68aeb9;
}
/* line 332, ../sass/style.scss */
.interactive-map-section .q3 {
  fill: #5c99a3;
  background-color: #5c99a3;
}
/* line 336, ../sass/style.scss */
.interactive-map-section .q4 {
  fill: #50868e;
  background-color: #50868e;
}
/* line 340, ../sass/style.scss */
.interactive-map-section .q5 {
  fill: #45737a;
  background-color: #45737a;
}
/* line 344, ../sass/style.scss */
.interactive-map-section .q6 {
  fill: #396066;
  background-color: #396066;
}
/* line 348, ../sass/style.scss */
.interactive-map-section .q7 {
  fill: #2f4d52;
  background-color: #2f4d52;
}
/* line 352, ../sass/style.scss */
.interactive-map-section .q8 {
  fill: #243c40;
  background-color: #243c40;
}
/* line 357, ../sass/style.scss */
.interactive-map-section .notes {
  font-size: 12px;
  line-height: 18px;
}
/* line 362, ../sass/style.scss */
.interactive-map-section .notes-desktop {
  margin: 40px 0 0;
}
@media all and (min-width: 640px) and (max-width: 1024px) {
  /* line 362, ../sass/style.scss */
  .interactive-map-section .notes-desktop {
    display: none;
  }
}
@media all and (max-device-width: 640px) {
  /* line 362, ../sass/style.scss */
  .interactive-map-section .notes-desktop {
    display: none;
  }
}
/* line 373, ../sass/style.scss */
.interactive-map-section .notes-device {
  margin: 15px 25px 0;
}
@media all and (min-width: 1025px) {
  /* line 373, ../sass/style.scss */
  .interactive-map-section .notes-device {
    display: none;
  }
}
