// Breakpoint
// ----------
$breakpoint-to-ems: true;
$breakpoints: 'mobile-max' (max-width: 640px),
              'tablet' (min-width: 640px),
              'tablet-landscape' (max-width: 1024px),
              'desktop' (min-width: 1025px);
$breakpoint-no-query-fallbacks: false;

$breakpoints-mobile-max: "max-device-width: 640px";
$breakpoints-tablet: "min-width: 640px";
$breakpoints-tablet-landscape: "max-width: 1024px";
$breakpoints-desktop: "min-width: 1025px";

// General settings
// ----------------

// responsive mixin
@mixin breakpoint($point) {
    @if $point == desktop {
        @media all and ($breakpoints-desktop) {
            @content;
        }
    }
    @else if $point == tablet {
        @media all and ($breakpoints-tablet) {
            @content;
        }
    }
    @else if $point == tablet-landscape {
        @media all and ($breakpoints-tablet) and (orientation: landscape) {
            @content;
        }
    }
    @else if $point == mobile-max {
        @media all and ($breakpoints-mobile-max) {
            @content;
        }
    }
    @else {
      @media all and (#{$point}) {
         @content;
       }
    }
}
